name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt update && \
        sudo apt install -y git ruby ruby-dev ruby-bundler build-essential curl && \
        sudo rm -rf /var/lib/apt/lists/*
        sudo gem install bibliothecary curl
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Protontypes
      run: |
        python ./proton.py --folder ./ 

